


<%for(var i of s){%>
    <tr>
        <h1><%=i.name%></h1>
        <h1><%=i.number%></h1>
        <h1><%=i.email%></h1>
        <h1><%=i.address%></h1>
        <h1><%=i.customerid%></h1>
        <h1><%=i.servics%></h1>
        <h1><%=i.otherservics%></h1>
        <h1><%=i.date%></h1>
        <h1><%=i.pcnumber%></h1>
        <h1><%=i.reference%></h1>
        <h1><%=i.work%></h1>

    </tr>
        <%}%>
