<%-include('header')%>

  <!-- Contextual Classes -->

  <div class="card">
    <h5 class="card-header">Contextual Classes</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>USER NAME</th>
            <th>EMAIL ID</th>
            <th>Password</th>
            <th>Users PHOTOS</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <%for (var i of data){%>


            <tr class="table-default">
              <td><i class="fab fa-sketch fa-lg text-warning me-3"></i> <strong>
                  <%=i.username%>
                </strong></td>
              <td>
                <%=i.email%>
              </td>
              <td>
                <%=i.password%>
              </td>
              <td>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                  <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                    class="avatar avatar-xs pull-up" title="Lilian Fuller">
                    <img src="<%=i.img%>" alt="Avatar" class="rounded-circle" />
                  </li>
                </ul>
              </td>
              <td><span class="badge bg-label-primary me-1">Active</span></td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/update/<%=i.id%>"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                    <a class="dropdown-item" href="/delete/<%=i.id%>"><i class="bx bx-trash me-1"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <%}%>
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Contextual Classes -->


  <%-include('footer')%>